
.banner {
    width: 100%;
    position: relative;
}

.banner-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.letter {
  font-family: 'Ibarra Real Nova', serif;
}

.bold {
  font-weight: bold;
}


@media (max-width: 768px) {
    .banner-text {
        position: relative;
        top: auto;
        left: auto;
        transform: none;
        text-align: center;
        padding: 20px;
    }
    .banner-text button {
        margin-top: 10px;
    }
}

.countdown-section {
  text-align: center;
  padding: 20px;
  border-radius: 15px;
  max-width: 600px;
  width: 100%;
  margin: 0 auto; /* Centra el contenedor principal */
}

.timer-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto; /* Asegura que el contenedor se ajuste al tamaño de los bloques */
  background-color: #a570c2; /* Morado más claro para el contenedor */
  padding: 10px; /* Menos espacio alrededor de los bloques */
  border-radius: 12px; /* Bordes redondeados */
  margin: 10px 10px 10px 10px; /* Solo un pequeño margen superior e inferior */
}

.timer-container {
  display: flex;
  justify-content: space-between; /* Asegura que haya espacio entre los bloques */
  align-items: center;
  gap: 15px; /* Espacio entre los bloques */
}

.time-box {
  background-color: #e6ccef;
  border-radius: 10px;
  padding: 15px;
  width: 80px;
  color: #6a1b9a;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.labels-container {
  display: flex; /* Asegúrate de usar flexbox */
  justify-content: space-between; /* Espacia los elementos uniformemente */
  align-items: center; /* Alinea verticalmente al centro */
  gap: 20px; /* Espaciado adicional entre los elementos */
  padding: 10px 40px;
  border-radius: 10px;
  background: radial-gradient(circle, #ffffff, #e6ccef);
  flex-wrap: nowrap; /* No permite que los elementos se apilen */
}

.time-label {
  font-size: 1rem;
  font-weight: bold;
  color: #550a8b;
  text-align: center;
}


.guests-number {
  position: absolute;
  top: 35%; /* Ajusta la posición inicial */
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  z-index: 1;
}

/* Ajustes para pantallas pequeñas (móviles) */
@media (max-width: 768px) {
  .guests-number {
      top: 29%; /* Ajusta para pantallas más pequeñas */
      font-size: 2.5rem; /* Reduce el tamaño del texto */
  }
}

/* Ajustes para pantallas muy pequeñas (ejemplo: teléfonos pequeños) */
@media (max-width: 480px) {
  .guests-number {
      top: 18%; /* Ajusta aún más si es necesario */
      font-size: 1.8rem; /* Más pequeño para adaptarse mejor */
  }
}

/* Ajustes para pantallas grandes (escritorio) */
@media (min-width: 992px) {
  .guests-number {
      top: 35%; /* Ajusta la posición específica para escritorio */
      font-size: 2.5rem; /* Aumenta el tamaño si es necesario */
  }
}
